* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0,0%,100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    max-width: 384px;
    border-radius: 0.5rem;
}