@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0,0%,100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100vh;
    font-family: "Inter", sans-serif;
    line-height: 1.6;
}

.profile {
    margin-bottom: 1.25rem;
}

.card {
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    max-width: 384px;
    min-width: 320px;
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 1rem;
}

.user-avatar {
    border-radius: 50%;
    width: 80px;
    margin-bottom: 1.25rem;
}

h1 {
    font-size: 1.75rem;
    font-weight: 600;
}

.location {
    color: hsl(75, 94%, 57%);
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 1.25rem;
}

.bio {
    font-size: 14px;
    color: hsl(0, 0%, 70%);
    font-weight: 600;
}

.button-list {
    list-style: none;
}

.button-list button {
    background-color: hsl(0, 0%, 20%);
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem ;
    width: 100%;
    margin-bottom: 0.75rem;
    color: inherit;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 25%)
}

ul li:last-child button{
    margin-bottom: 0;
}

a {
    color: white !important;
}